body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: space-between;
    max-width: 1200px; 
    margin: 5% auto;
}

.input-section {
    flex: 1;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 20%; 
    margin-right: 20px;
}

.output-section {
    flex: 2;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 80%;
}

h1 {
    text-align: center;
    margin-top: 0;
    color: #333;
}

form {
    max-width: 400px;
    margin: 0 auto;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

select, input[type="text"], input[type="number"] {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

input[type="submit"] {
    background-color: #007BFF;
    width: 100%;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

.github-section {
    text-align: center;
    margin-top: 20px;
}

.github-section img {
    width: 50px;
    vertical-align: middle;
    margin-right: 10px;
}

.github-section a {
    text-decoration: none;
    font-weight: bold;
    color: #0366d6; 
}

#output-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

#output-table th,
#output-table td {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
}

#output-table th {
    background-color: #f8f8f8;
    font-weight: bold;
}

#output-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

#output-table tr:hover {
    background-color: #ddd;
    scale: 1.02;
}

/* GANNT CHART STYLING */
#gantt-chart {
    text-align: center; 
    overflow: auto;
    margin: 10px 0;
}

#gantt-chart-container {
    display: flex;
    align-items: center; 
    justify-content: center; 
    flex-wrap: nowrap; 
    overflow: auto; 
    margin: 5px 0;
}

.gantt-block {
    display: inline-block;
    background-color: #007BFF;
    color: #fff;
    text-align: center;
    padding: 10px;
    border: 1px solid #3798ff;
}

@media only screen and (max-width: 768px) {
    .container {
        flex-direction: column; 
        margin: 5% 5%; 
        max-width: none;
    }

    .input-section,
    .output-section {
        max-width: none; 
        margin: 1rem 0;
        overflow-x: auto;
    }
    #output-table {   
        table-layout: fixed;
    }
    #output-table th {
        background-color: #f8f8f8;
        font-weight: bold;
        font-size: 14px; 
        padding: 8px 10px; 
        white-space: nowrap; 
        overflow: auto; 
    }
    
    #output-table td {
        border: 1px solid #dddddd;
        text-align: center;
        padding: 8px 4px;
        white-space: nowrap;
        overflow: hidden; 
        text-overflow: ellipsis; 
    }
    
    #output-table tr:hover {
        background-color: #ddd;
        transform: scale(1.02);
    }

    select,
    input[type="text"],
    input[type="number"],
    input[type="submit"] {
        width: 100%; 
    }
}
